<ion-content class="login">
  <ion-grid fullscreen>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <img class="tm-img" src="assets/img/logo-3.png" />
        </div>
      </ion-col>
      <ion-col size="12">
        <h2 class="ion-text-center welcome-title">Bienvenido de vuelta!</h2>
      </ion-col>
      <ion-col size="12">
        <ion-slides mode="ios" pager="ios" class="slides-messages">
          <ion-slide>
            <app-welcome-message
              [title]="'
              Aprende a cumplir tus sueños en 3 días.
                  '"
              [message]="'
              Vamos a ayudarte a ordenar tu presupuesto, proponerte
              objetivos y celebrar pequeños triunfos todos los días.
                  '"
            ></app-welcome-message>
          </ion-slide>
          <ion-slide>
            <app-welcome-message
              [title]="'
              Aprende a cumplir tus sueños en 7 días.
                  '"
              [message]="'
              Vamos a ayudarte a odenar tu presupuesto, proponerte
              objetivos y celebrar pequeños triunfos todos los días.
                  '"
            ></app-welcome-message>
          </ion-slide>

          <ion-slide>
            <app-welcome-message
              [title]="'Empecemos a aprender'"
              [message]="'
                    Registrarte es muy simple y es el primer paso 
                    para empezar el camino a tu libertad financiera.
                  '"
            ></app-welcome-message>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col size="2"> </ion-col>
        <ion-col size="8" style="padding: 0 !important">
          <div>
            <ion-item
              color="linght"
              style="
                background: white;
                border-left: 7px solid #875db0;
                height: 55px;
                padding: 0 !important;
              "
              class="box-input-container"
            >
              <ion-row style="width: 100%; padding: 0 !important">
                <ion-col>
                  <ion-label style="color: #787878">EMAIL</ion-label>
                  <ion-input style="color: black" type="email"></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>

      <ion-row>
        <ion-col> </ion-col>
        <ion-col size="8" style="padding: 0 !important">
          <div>
            <ion-item
              color="linght"
              style="background: white; height: 55px"
              class="box-input-container"
            >
              <ion-row style="width: 100%; padding: 0 !important">
                <ion-col>
                  <ion-label style="color: #787878">Contraseña</ion-label>
                  <ion-input style="color: black" type="password"></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">Olvido su contraseña</div>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">
      <button
        expand="block"
        color="linght"
        (click)="entrarCuenta()"
        class="btn-empezar"
      >
        Iniciar sesión
      </button>
    </div>

    <img
      style="z-index: -1 !important"
      class="logo-bg"
      src="assets/img/bgf1.png"
    />
  </ion-grid>
  <ion-row class="position">
    <ion-col size="12">
      <div (click)="entraRegistro()" class="ion-text-center">
        ¿Primera vez? Registrate gratis.
      </div>
    </ion-col>
  </ion-row>

  <!--   <div class="my-overlay" padding [hidden]="overlayHidden">
    <button full (click)="hideOverlay()">Click me</button>
  </div> -->
</ion-content>
