ion-content {
  --background: white;
}
.logo-bg {
  width: 100%;
  position: absolute;
  top: 340px;
  right: 0;
  height: 55%;
  left: 0;
}
.tm-img {
  width: 90px;
  padding-top: 50px;
}

.welcome-title {
  color: #a388be;
  font-size: 35px;
}
.slides-messages {
  color: black;
}
.btn-empezar {
  color: #a388be;
  background: white;
  border-radius: 20px;
  right: 0;
  left: 0;
  width: 65%;
  height: 45px;
}
.ico-position {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 20px;
  z-index: 1;
}

.slides-messages {
  ion-slide {
    margin-bottom: 50px;
  }
}

.ico-position {
  position: absolute;
  right: 13px;
  left: 13px;
  bottom: 20px;
}

.my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
  top: 0;
  left: 0;
}

.position {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
