<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-cofide">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="analitics-cofide">
      <ion-icon name="analytics-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account-cofide">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
