<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false">
            <img src="assets/icon/menu.png"
          /></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button>
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding bg-white">
      <ion-row class="ion-text-start">
        <ion-col size="2"> </ion-col>

        <ion-col size="8">
          <div><img src="assets/icon/quoteup.png" /></div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="2"> </ion-col>
        <ion-col size="8">
          <div style="color: black">
            Los grandes cambios empiezan con pequeñas acciones cada día.
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
      <ion-row class="ion-text-end">
        <ion-col size="2"> </ion-col>

        <ion-col size="8">
          <div><img src="assets/icon/quotedown.png" /></div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <div>
            <button
              expand="block"
              color="linght"
              (click)="entrarLogin()"
              class="btn-empezar"
            >
              Empieza el viaje
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <img src="assets/icon/medalstart@2x.png" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <div style="color: black">Bienvenida!</div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <div class="txt-name">ADRIANA</div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <div><img src="assets/img/adriana.png" /></div>
        </ion-col>
      </ion-row>
      <img
        style="z-index: -1 !important"
        class="logo-bg"
        src="assets/img/bgf1.png"
      />
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-vimeo"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-content>
  </div>
</ion-app>
