.btn-empezar {
  color: #a388be;
  background: white;
  border: 1px #a388be solid;
  border-radius: 20px;
  right: 0;
  left: 0;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 45px;
}
.txt-name {
  font-size: 30px;
  color: #a388be;
}
.logo-bg {
  width: 100%;
  position: absolute;
  right: 0;

  left: 0;
  height: 30%;
  bottom: 0px;
}

.bg-white {
  --background: white;
}
