<ion-header>
  <ion-toolbar>
    <ion-title>account-cofide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" (click)="entraTest()">Success</ion-button>
</ion-content>
