<ion-content class="login">
  <ion-grid fullscreen>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <img class="tm-img" src="assets/img/logo-3.png" />
        </div>
      </ion-col>
      <ion-col size="12">
        <h2 class="ion-text-center welcome-title">Bienvenido!</h2>
      </ion-col>
      <ion-col size="12">
        <ion-slides mode="ios" pager="ios" class="slides-messages">
          <ion-slide>
            <app-welcome-message
              [title]="'
              Aprende a cumplir tus sueños en 3 días.
                  '"
              [message]="'
              Vamos a ayudarte a ordenar tu presupuesto, proponerte
              objetivos y celebrar pequeños triunfos todos los días.
                  '"
            ></app-welcome-message>
          </ion-slide>
          <ion-slide>
            <app-welcome-message
              [title]="'
              Aprende a cumplir tus sueños en 7 días.
                  '"
              [message]="'
              Vamos a ayudarte a odenar tu presupuesto, proponerte
              objetivos y celebrar pequeños triunfos todos los días.
                  '"
            ></app-welcome-message>
          </ion-slide>

          <ion-slide>
            <app-welcome-message
              [title]="'Empecemos a aprender'"
              [message]="'
                    Registrarte es muy simple y es el primer paso 
                    para empezar el camino a tu libertad financiera.
                  '"
            ></app-welcome-message>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row style="padding: 0 !important">
        <ion-col size="2"> </ion-col>
        <ion-col size="8" style="padding: 0 !important">
          <div>
            <ion-row style="width: 100%; padding: 0 !important">
              <ion-col style="padding: 0 !important">
                <ion-button
                  (click)="entraCorreo()"
                  expand="full"
                  color="secondary"
                >
                  <ion-icon name="logo-wechat"></ion-icon>

                  Ingresar con Correo</ion-button
                >
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>

      <ion-row style="padding: 0 !important">
        <ion-col size="2"> </ion-col>
        <ion-col size="8" style="padding: 0 !important">
          <div>
            <ion-row style="width: 100%; padding: 0 !important">
              <ion-col style="padding: 0 !important">
                <ion-button expand="full" color="tertiary">
                  <ion-icon name="logo-facebook"></ion-icon>Ingresar con
                  Facebook</ion-button
                >
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
      <ion-row style="padding: 0 !important">
        <ion-col size="2"> </ion-col>
        <ion-col size="8" style="padding: 0 !important">
          <div>
            <ion-row style="width: 100%; padding: 0 !important">
              <ion-col style="padding: 0 !important">
                <ion-button expand="full" color="danger">
                  <ion-icon name="logo-google"></ion-icon>
                  Ingresar con Google</ion-button
                >
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
    </ion-grid>

    <img
      style="z-index: -1 !important"
      class="logo-bg"
      src="assets/img/bgf1.png"
    />
  </ion-grid>
  <ion-row class="position">
    <ion-col size="12">
      <div class="ion-text-center">Ya estoy registrado. Iniciar Sesión.</div>
    </ion-col>
  </ion-row>
</ion-content>
