<ion-content class="login">
  <ion-grid fullscreen>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <img class="tm-img" src="assets/img/logo-3.png" />
        </div>
      </ion-col>
      <ion-col size="12">
        <h2 class="ion-text-center welcome-title">Registrate</h2>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col size="2"> </ion-col>
        <ion-col size="8">
          <div>
            <ion-item
              color="linght"
              style="
                background: white;
                border-left: 7px solid #875db0;
                height: 55px;
                padding: 0 !important;
              "
              class="box-input-container"
            >
              <ion-row>
                <ion-col>
                  <ion-label style="color: #787878">DNI</ion-label>
                  <ion-input style="color: black" type="number"></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2"> </ion-col>
        <ion-col size="8">
          <div>
            <ion-item
              color="linght"
              style="
                background: white;
                border-left: 7px solid #875db0;
                height: 55px;
                padding: 0 !important;
              "
              class="box-input-container"
            >
              <ion-row>
                <ion-col>
                  <ion-label style="color: #787878">EMAIL</ion-label>
                  <ion-input style="color: black" type="email"></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>

      <ion-row>
        <ion-col> </ion-col>
        <ion-col size="8">
          <div>
            <ion-item
              color="linght"
              style="
                background: white;
                border-left: 7px solid #875db0;

                height: 55px;
              "
              class="box-input-container"
            >
              <ion-row>
                <ion-col>
                  <ion-label style="color: #787878">Contraseña</ion-label>
                  <ion-input style="color: black" type="password"></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>

      <ion-row>
        <ion-col> </ion-col>
        <ion-col size="8">
          <div>
            <ion-item
              color="linght"
              style="
                background: white;
                border-left: 7px solid #875db0;

                height: 55px;
              "
              class="box-input-container"
            >
              <ion-row>
                <ion-col>
                  <ion-label style="color: #787878"
                    >Repetir Contraseña</ion-label
                  >
                  <ion-input style="color: black" type="password"></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">Olvido su contraseña</div>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">
      <button
        expand="block"
        color="linght"
        (click)="entrarCuenta()"
        class="btn-empezar"
      >
        Registrarse
      </button>
    </div>

    <img
      style="z-index: -1 !important"
      class="logo-bg"
      src="assets/img/bgf1.png"
    />
  </ion-grid>

  <!--   <div class="my-overlay" padding [hidden]="overlayHidden">
    <button full (click)="hideOverlay()">Click me</button>
  </div> -->
</ion-content>
