.build-dream-title {
  font-family: 'Mr Eaves Regular', sans-serif;
  font-size: 14px;
  margin: 10px 0;
}

.guide-message {
  font-family: 'Mr Eaves Regular', sans-serif;
  font-size: 14px;
  margin: 0 !important;
}