<ion-content>
  <!--   <div [ngClass]="inputContainerStyles">
    <input id="firstInput" />
    <input />
  </div>
  <keyboard [lastInput]="lastInput" [cursorPosition]="cursorPosition">
  </keyboard> -->
</ion-content>
