<ion-content fullscreen>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <div class="ion-text-center txt-welcome">Bienvenido</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <img src="assets/img/adriana.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center txt-pa">
          Soy Adriana y seré tu asesora financiera virtual, juntos mejoraremos
          tus finanzas y aprenderás a gestionarlas mejor.
        </div>
      </ion-col>
    </ion-row>

    <div class="ion-text-center">
      <button
        expand="block"
        color="linght"
        (click)="EntraLogin()"
        class="btn-empezar"
      >
        Empecemos
      </button>
    </div>
  </ion-grid>
</ion-content>
