ion-content {
  --background: #6723aa;
}
.container {
  padding-top: 100px;
}
.txt-pa {
  padding: 37px;
}
.txt-welcome {
  font-size: 30px;
}
.btn-empezar {
  color: #a388be;
  background: white;
  border-radius: 20px;
  right: 0;
  left: 0;
  width: 100%;
  height: 40px;
}
.ico-position {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 20px;
}
ion-button {
  background-color: white !important;
  border-radius: 20px;
}

//Horizontal : landscape
//Vertical : portrait

@media all and (max-width: 940px) and (orientation: landscape) {
  /* Styles */

  .container {
    padding-top: 20px;
  }
}
@media all and (max-width: 640px) and (orientation: portrait) {
  /* Styles */

  .container {
    padding-top: 80px;
  }
}
