ion-content {
  --background: url(../../assets/img/gv.png) 0 0/100% 100% no-repeat;
}

.container {
}
.logo-xl {
  position: fixed;
  right: 0;
  left: 0;
  top: 90px;
}

.logo-xs {
  zoom: 1.2 !important;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
}

//Horizontal : landscape
//Vertical : portrait

@media all and (max-width: 1400px) and (orientation: landscape) {
  /* Styles */

  .logo-xl {
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
  }
}

@media all and (max-width: 640px) and (orientation: landscape) {
  /* Styles */

  .logo-xl {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }
}
@media all and (max-width: 640px) and (orientation: portrait) {
  /* Styles */

  .logo-xl {
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
  }
}
