<!-- <ion-content>
  <div class="container ion-text-center">
   
  </div>
</ion-content>
 -->
<ion-content fullscreen>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <div class="ion-text-center logo-xl">
          <img src="assets/img/logo.png" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center logo-xs">
          <img src="assets/img/logocofide.png" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
